:root{
  --verde: rgb(165, 182, 141);
  --cream:rgb(252, 250, 238);
  --orange:rgb(218, 131, 89);
  --marginsmall: margin: 20px;
  --marginmedium: margin: 40px;
  --fontsizeparraf: font-size: 16px;
  --fontsizesubheading: font-size: 24px;
}
.javatest{
  color: chocolate;
}
html{
  background-color: #f8f8f8;
}
.today{
  font-weight: 800;
  font-size: 24px;
}
header{
  margin-bottom: 40px;
  margin-top: 50px;
}
p.soy-yo{
  background-color: aquamarine;
  padding-left: 40px;
  margin: var(--marginsmall);
}
.fotillo{
  background-color: #3e8e41;
}
#preguntas-frecuentes{
  background-color: darksalmon;
  padding-left: 50px;
  margin: 20px;
}
table{
    width: 80%;
    text-align: center;
    filter: drop-shadow(30px 10px 4px var(--orange));
}
table th{
    background-color: aquamarine;
    font-size: 150%;
}
img {
    opacity: 0.5;
    z-index: 0;
    align-items: center;
    display: flex;
  } 
  img:hover {
    opacity: 1.0;
  }
.cm{
  background-color: var(cream);
  width:10cm;
  height:10cm;  
}
.mm{
  background-color: var(--verde);
  width:100mm;
  height:100mm;
}
.in{
  background-color: rgb(152, 199, 240);
  width: 3.94in;
  height: 3.94in;
}
.px{
  background-color: var(cream);
  width: 378px;
  height: 378px;
}
.pt{
  background-color: var(orange);
  width: 288pt;
  height: 288pt;
}
.pc{
  background-color: cyan;
  width: 24pc;
  height: 24pc;
}
.Absolutas{
  display: flex;
}
.em{
  background-color: darkgrey;
  width: 23em;
  height: 23em;
}
.rem{
  background-color: darkvar(--verde);
  width: 23rem;
  height: 23rem;
}
.vh{
  background-color: crimson;
  width: 38vh;
  height: 38vh;
}
.vw{
  background-color: darkgoldenrod;
  width: 50vw;
  height: 50vw;
}
.porcentaje{
  background-color: deeppink;
  width: 50%;
  height: 50%;
}/*Porcentaje va determinado / afectado por el elemento padre*/

ul>li{
  border: 2pt solid rgb(129, 89, 14);
  padding: 15px 40px;
}
nav>ul{
  background-color: bisque;
  opacity: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  width: 100%;
  height: 50px;
  margin: 0px;
  top: 0;
  list-style-type: none;
}
div#imagenfalsa{
  height: 400px;
  width: 400px;
  background-color: gray;
  background-image: url(/imagenes/nike.png);
  background-size: 200px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid black;
  border-radius: 12px;
}
div#zapatillafalsa{
  height: 400px;
  width: 400px;
  background-color: gray;
  background-image: url(/imagenes/zapatilla2.png);
  margin: auto;
  background-size: 200px;
  border: 2px solid black;
  border-radius: 12px;
}
[target=_blank]{
  color: var(--orange);
  background-image: url(/imagenes/external-link.png);
  background-size: 1em;
  background-position-x: right;
  background-repeat: no-repeat;
  padding-right: 1.5em;
}
/*Responsive*/
p{
  background-color: bisque;
  font-size: var(--fontsizeparraf);
  animation-name: cambiocolor;
  animation-duration: 5s;
  background-color: var(--cream);
}
@keyframes cambiocolor{
  from{background-color: var(--cream);}
  to{background-color:var(--orange);}
}
h1{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  transition: 0.3s;
}

.blocazo{
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right:20%; 
  align-items: center;
}
.bloquecito [href]{ /*selector avanzado para los links de bloquecito*/
  color:white;
}
.bloquecito{
  background-color: blue;
  padding: 60px 30px;
}
.efectofunciones{
  margin: auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3e8e41;
  text-align: center;
  color: #f8f8f8;
  cursor: pointer;
}
.redjs{
  color: red;
  background-color: #3e8e41;
  font-size: 32px;
}
.camb{
  color: black;
  background-color: #f8f8f8;
}
#iframeboxing {
  width: 600px;
  padding-top: 450px;
  margin: auto;
  cursor: pointer;
  background-size: cover !important;
  position: relative;
  overflow: hidden;
}
#iframeonclick {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.hidden {
  visibility: hidden;
}
@media all and (max-width: 700px){
  p{
    background-color: var(--verde);
  }
  nav>ul{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    position: relative;
    block-size: fit-content;
  }
  nav>ul li{
    margin: 8px 0px;
  }
  img{
    width: max(100%, 1200px);
  }
}
#bannerhome>h1{
  width: calc(100% - 40px);
}