# Activa el motor de reescritura
RewriteEngine On

# Fuerza redirección a HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirige a 404.php si el archivo o directorio no existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /404.php [L]

# Define la página de error 404
ErrorDocument 404 /404.php