<IfModule mod_rewrite.c>
    RewriteEngine On

 # Redirigir de HTTP a HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Reescribir URLs limpias a .php
    RewriteRule ^([^.]+)$ $1.php [L]

    # Bloquear acceso directo a .php en la URL
    RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$" [NC]
    RewriteRule .* - [L,R=404]
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 2 months"
</IfModule>
# NOTE! FOR APACHE ON WINDOWS: Add [NC] to RewriteCond like this:
# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$" [NC]